.default-enter-active,
.default-leave-active {
  transition-property: all;
  transition-timing-function:cubic-bezier(0.445,  0.050, 0.550, 0.950);
  transition-duration: 500ms;
}

.default-enter,
.default-leave-to {
  transform: translateY(75px);
  opacity: 0;
}