.site__nav {
    ul,li{
        list-style: none;
        padding: 0;
        margin:0;
    }
    ul{
        display: flex;
        li{
            position: relative;
            &:not(:last-of-type){
                margin-right: 1rem;
            }

            a {
                text-decoration: none;
                color:black;
                &.nuxt-link-active{
                    color:blue;
                }
            }
            &:hover{
                .sub-menu{
                    opacity: 1;
                    visibility: visible;
                    margin-top: 0;
                }
            }
        }
        &.sub-menu{
            transition: all 0.35s;
            flex-direction: column;
            opacity: 0;
            visibility: hidden;
            margin-top: 50px;
            white-space: nowrap;
            @include breakpoint(up,laptop){
                position: absolute;
                top:100%;
                left: 0;
            }
        }
    }
}